<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
   xmlns:android="http://schemas.android.com/apk/res/android"
   id="cordova-plugin-qsp"
   version="1.0.0">
 <name>QspBridge</name>

 <description>
   Bridge for QSP library
 </description>

 <author>Nex Otaku</author>

 <license>MIT</license>
 <keywords>Hybrid, Embedded </keywords>

 <engines>
   <engine name="cordova" version=">=3.0.0"/>
 </engines>

 <js-module src="www/js/QspBridge.js" name="QspBridge">
   <clobbers target="QspBridge" />
 </js-module>

 <!-- android -->
 <platform name="android">
   <config-file target="res/xml/config.xml" parent="/*">
     <feature name="QspBridge">
       <param name="android-package" value="ru.butterfly_lantern.cordova.QspBridge" />
     </feature>
   </config-file>
   <source-file src="src/ru/butterfly_lantern/cordova/QspBridge.java" target-dir="src/ru/butterfly_lantern/cordova"/>
 </platform>
</plugin>